* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 3rem 4rem;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 320px) {
    h1 {
        font-size: 3rem;
        margin-bottom: .8rem;
    }

    input {
        display: none;
    }

    .content {
        width: 90%;
        margin: 0 auto;
    }

    .content:hover .accordion .item .header img {
        display: block;
    }

    .content:hover .accordion .item .header .name {
        color: black;
    }

    .accordion {
        width: 100%;
    }

    .accordion .item {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 16px 12px;
        border-top: 1px solid #cbcbcb;
    }

    .accordion .item .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .accordion .item .header .name {
        font-size: 1.5rem;
        font-weight: 500;
        color: #1887e1;
    }

    .accordion .item .header img {
        height: 1.5rem;
        width: 1.5rem;
        display: none;
    }

    .meme-image {
        width: 80%;
        height: 0;
        object-fit: contain;
        transition: all 300ms;
    }

    input:checked ~ .meme-image {
        display: block;
        height: 400px;
        margin-top: 1rem;
    }

    input:checked ~ .header img {
        transform: rotateZ(45deg);
        transition: all .3s;
    }

    input:checked ~ .header .name {
        color: black !important;
    }

    .item:hover .meme-image {
        display: block;
        height: 400px;
        margin-top: 1rem;
    }

    .item:hover .header img {
        transform: rotateZ(45deg);
        transition: all .3s;
    }
}

@media screen and (min-width: 820px) {
    .content {
        width: 80%;
    }

    h1 {
        font-size: 3.5rem;
    }

    .accordion .item .header .name {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1920px) {
    .content {
        width: 60%;
    }

    h1 {
        font-size: 4rem;
    }

    .accordion .item .header .name {
        font-size: 2.6rem;
    }
}